# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/codealike.json

# IDE
/.vscode
/.idea
/.idea/http-test/http-test.json
/.idea/JetClient/state.xml
/.idea/sonarlint/issuestore/8/3/835da56f32df714aaed6285a5b7fc3a7807851e4
/.idea/sonarlint/securityhotspotstore/8/3/835da56f32df714aaed6285a5b7fc3a7807851e4
/.idea/.name
